/* Importar estilos de Skeleton */
/* @import '@skeletonlabs/skeleton/themes/theme-rocket.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
.input {
	@apply w-80 p-2 border rounded-lg my-2;
}

.btn-primary {
	@apply w-80 p-2 bg-blue-500 text-white rounded-lg my-2 hover:bg-blue-600;
}